Plots sobre violencia interpessoal e terrorismo

In [ ]:
Plot sobre quanto cada causa (a decidir) matou por ano

In [1]:
import pandas as pd
from bokeh.models import ColumnDataSource
from bokeh.plotting import figure, show
from bokeh.io import output_notebook
from bokeh.models import NumeralTickFormatter
#================================================================================================
# lendo base de dados
import os
os.chdir("E:/Users/B51995/Desktop/A2_ICD")

df_cause_of_death = pd.read_csv("new_cause_of_death.csv")

output_notebook()

In [8]:
df_auto_mut_ano = df_cause_of_death.select_dtypes(include = "number").groupby("Year").mean()
auto_mut_ano = ColumnDataSource(df_auto_mut_ano)

plot = figure(width = 1280, height = 720, title = "Média de mortes por auto-mutilação por ano")
plot.line(x = "Year", y = "Self-harm", source = auto_mut_ano)
plot.xaxis.formatter = NumeralTickFormatter(format = "0,0")

show(plot)

,Unnamed: 0,Country/Territory,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,...,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Continente,Country Code,Series Name,Series Code,população
0,0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,...,5945,2673,5005,323,2985,Asia,AFG,"Population, total",SP.POP.TOTL,10694796.0
1,1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,...,6050,2728,5120,332,3092,Asia,AFG,"Population, total",SP.POP.TOTL,10745167.0
2,2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,...,6223,2830,5335,360,3325,Asia,AFG,"Population, total",SP.POP.TOTL,12057433.0
3,3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,...,6445,2943,5568,396,3601,Asia,AFG,"Population, total",SP.POP.TOTL,14003760.0
4,4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,...,6664,3027,5739,420,3816,Asia,AFG,"Population, total",SP.POP.TOTL,15455555.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6115,6115,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,...,2751,1956,4202,632,146,Africa,ZWE,"Population, total",SP.POP.TOTL,14154937.0
6116,6116,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,...,2788,1962,4264,648,146,Africa,ZWE,"Population, total",SP.POP.TOTL,14452704.0
6117,6117,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,...,2818,2007,4342,654,144,Africa,ZWE,"Population, total",SP.POP.TOTL,14751101.0
6118,6118,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,...,2849,2030,4377,657,139,Africa,ZWE,"Population, total",SP.POP.TOTL,15052184.0
6119,6119,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,...,2891,2065,4437,662,136,Africa,ZWE,"Population, total",SP.POP.TOTL,15354608.0

Index(['Unnamed: 0', 'Country/Territory', 'Code', 'Year', 'Meningitis',
       'Alzheimer's Disease and Other Dementias', 'Parkinson's Disease',
       'Nutritional Deficiencies', 'Malaria', 'Drowning',
       'Interpersonal Violence', 'Maternal Disorders', 'HIV/AIDS',
       'Drug Use Disorders', 'Tuberculosis', 'Cardiovascular Diseases',
       'Lower Respiratory Infections', 'Neonatal Disorders',
       'Alcohol Use Disorders', 'Self-harm', 'Exposure to Forces of Nature',
       'Diarrheal Diseases', 'Environmental Heat and Cold Exposure',
       'Neoplasms', 'Conflict and Terrorism', 'Diabetes Mellitus',
       'Chronic Kidney Disease', 'Poisonings', 'Protein-Energy Malnutrition',
       'Road Injuries', 'Chronic Respiratory Diseases',
       'Cirrhosis and Other Chronic Liver Diseases', 'Digestive Diseases',
       'Fire, Heat, and Hot Substances', 'Acute Hepatitis', 'Continente',
       'Country Code', 'Series Name', 'Series Code', 'população'],
      dtype='object')

     Country/Territory  Year   população
0          Afghanistan  1990  10694796.0
1          Afghanistan  1991  10745167.0
2          Afghanistan  1992  12057433.0
3          Afghanistan  1993  14003760.0
4          Afghanistan  1994  15455555.0
...                ...   ...         ...
6115          Zimbabwe  2015  14154937.0
6116          Zimbabwe  2016  14452704.0
6117          Zimbabwe  2017  14751101.0
6118          Zimbabwe  2018  15052184.0
6119          Zimbabwe  2019  15354608.0

[6120 rows x 3 columns]

In [17]:
df_auto_mut_ano = df_cause_of_death.select_dtypes(include = "number").groupby("Year").sum()
auto_mut_ano = ColumnDataSource(df_auto_mut_ano)

plot = figure(width = 1280, height = 720, title = "Total de mortes por auto-mutilação por ano")
plot.line(x = "Year", y = "Self-harm", source = auto_mut_ano)
plot.yaxis.formatter = NumeralTickFormatter(format = "0,0")

show(plot)

,Road Injuries,Alcohol Use Disorders,Cirrhosis and Other Chronic Liver Diseases
Road Injuries,1.000000,0.557400,0.904686
Alcohol Use Disorders,0.557400,1.000000,0.583672
Cirrhosis and Other Chronic Liver Diseases,0.904686,0.583672,1.000000

In [16]:
display(df_cause_of_death.loc[df_cause_of_death["Country/Territory"] == "China"])

,Parkinson's Disease,Alzheimer's Disease and Other Dementias,Malaria,Self-harm,população
Parkinson's Disease,1.000000,0.950785,0.084109,0.826083,0.907567
Alzheimer's Disease and Other Dementias,0.950785,1.000000,0.031290,0.682463,0.768260
Malaria,0.084109,0.031290,1.000000,0.202015,0.237622
Self-harm,0.826083,0.682463,0.202015,1.000000,0.960630
população,0.907567,0.768260,0.237622,0.960630,1.000000

In [ ]:
# Chronic Respiratory Diseases

df_auto_mut_ano = df_cause_of_death.select_dtypes(include = "number").groupby("Year").sum()
df_mortes_china = df_cause_of_death.loc[df_cause_of_death["Country/Territory"] == "China"].groupby("Year").sum()
mortes_china = ColumnDataSource(df_mortes_china)
auto_mut_ano = ColumnDataSource(df_auto_mut_ano)

plot = figure(width = 1280, height = 720, title = "Total de mortes por doença respiratória crônica por ano")
plot.line(x = "Year", y = "Chronic Respiratory Diseases", source = auto_mut_ano, color = "Blue")
plot.line(x = "Year", y = "Chronic Respiratory Diseases", source = mortes_china, color = "Pink")
plot.yaxis.formatter = NumeralTickFormatter(format = "0,0")

show(plot)

In [ ]:
# Chronic Respiratory Diseases

df_auto_mut_ano = df_cause_of_death.select_dtypes(include = "number").groupby("Year").sum()
df_mortes_china = df_cause_of_death.loc[df_cause_of_death["Country/Territory"] == "China"].select_dtypes(include="number").groupby("Year").mean()
mortes_china = ColumnDataSource(df_mortes_china)
auto_mut_ano = ColumnDataSource(df_auto_mut_ano)

plot = figure(width = 1280, height = 720, title = "Média de mortes por doença respiratória crônica por país por ano")
plot.line(x = "Year", y = "Chronic Respiratory Diseases", source = auto_mut_ano, color = "Blue")
plot.line(x = "Year", y = "Chronic Respiratory Diseases", source = mortes_china, color = "Pink")
plot.yaxis.formatter = NumeralTickFormatter(format = "0,0")

show(plot)

In [ ]:
# mortes por violencia interpessoal para cada continente
copia_df = df_cause_of_death
color_dict = {"Africa" : "Yellow", "North America" : "Red", "South America" : "DarkRed", "Europe" : "Black", "Oceania" : "Blue", "Asia" : "Green"}
colors = []
for cada_continente in copia_df["Continente"]:
    colors.append(color_dict[cada_continente])
copia_df["color"] = colors

mortes_violencia = ColumnDataSource(copia_df)

plot = figure(width = 1280, height = 720, title = "Mortes por violencia interpessoal pelo mundo")
plot.line(x = "Year", y = "Interpersonal Violence", source = mortes_violencia)

show(plot)

In [ ]:
# dicionario de cores
color_dict = {"Africa" : "Yellow", "North America" : "Red", "South America" : "DarkRed", "Europe" : "Black", "Oceania" : "Blue", "Asia" : "Green"}

# agrupando por ano e continente
grouped_df = df_cause_of_death.groupby(["Continente", "Year"]).sum()

# display(grouped_df)

# colocando a cor para cada continente no dataframe
colors = []
for each_continent in grouped_df.index.values:
    colors.append(color_dict[each_continent[1]])

# adicionando coluna de cores
grouped_df["color"] = colors
# transformando em column data source
# interpersonal_violence = ColumnDataSource(grouped_df)

#selecionando nomes únicos de continente
continentes = df_cause_of_death["Continente"].unique()

plot = figure(title = "Mortes por violencia interpessoal por continente por ano", )
for continente in continentes:
    data = grouped_df.loc[continente]
    plot.circle(x = data.index.values, y = data["Interpersonal Violence"], color = data["color"], legend_label = continente)
# plot.circle(x = "Year", y = "Interpersonal Violence", color = "color", source = grouped_df)

show(plot)

In [ ]:
# doenças
# Meningitis
# Malaria
# HIV/AIDS
# Diarrheal Diseases
# Chronic Respiratory Diseases

# por hora
# Exposure to Forces of Nature
# Environmental Heat and Cold Exposure
# Fire, Heat and Hot Substances
cores = ["#ff0000", "#00ff00", "#0000ff"]
anos = df_cause_of_death["Year"].unique()
# df_causas_de_morte = df_cause_of_death.select_dtypes(include = "number").groupby("Year").sum()
df_causas_de_morte = df_cause_of_death.groupby("Year")[["Exposure to Forces of Nature", "Environmental Heat and Cold Exposure", "Fire, Heat and Hot Substances"]].sum()
causas = list(df_causas_de_morte.columns)

plot = figure(x_range = anos, height = 250, title = "causas de morte por ano")
plot.vbar_stack(causas, x = "Year", width = 0.9)